apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: akarv/online-store-backend:v2
        ports:
        - containerPort: 8800
        env:
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: user
        - name: MONGO_PASSWD
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: password
        - name: MONGO_DATABASE
          value: "webeccomerse"
        - name: PORT
          value: "8800"
        - name: MONGO_HOST
          value: "mongodb-service" # Имя твоего сервиса БД
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8800
    targetPort: 8800