name: Backend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm ci

      # --- ВОТ ЭТОТ ШАГ РЕШАЕТ ПРОБЛЕМУ ---
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # ДОБАВЛЯЕМ v1 ПОСЛЕ latest (через запятую)
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/online-store-backend:latest, ${{ secrets.DOCKERHUB_USERNAME }}/online-store-backend:v1
          # Кэш пока держи выключенным, чтобы наверняка
          # cache-from: type=gha
          # cache-to: type=gha,mode=max